<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::head"></head>

<body>
<div th:replace="navigation :: nav"></div>

<div class = "container-sm ">
    <div class ="row">
        <div class="col-sm-10 mt-5">

            <table class="table table-striped table-hover" xmlns:th="https://www.thymeleaf.org" th:if="${#authorization.expression('isAuthenticated()')}">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Segment</th>
                    <th scope="col">Model year</th>
                    <th scope="col">Current Odometer</th>
                    <th scope="col">Price Per Day</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "car : ${cars}">
                    <td th:text = "${car.getBrand()}"></td>
                    <td th:text = "${car.getModel()}"></td>
                    <td th:text = "${car.getSegment()}"></td>
                    <td th:text = "${car.getModelYear()}"></td>
                    <td th:text = "${car.getCurrentOdometer()}"></td>
                    <td th:text = "${car.getPricePerDay()}"></td>
                    <td >
                        <form method="get" th:action="@{/add/rent}" >
                            <input type="hidden" name = "carid" th:value = "${car.getId()}"/>
                        <button type = "submit" class = "btn btn-outline-info btn-sm fst-italic">RENT</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
<footer th:replace="footers::footer"></footer>
</html>
