<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::head"></head>

<body onload="getUserDetails(userId)" >
<div th:replace="navigation :: nav"></div>

<div class = "container-sm">
    <div class ="row">
        <div class="col-sm-10 mt-5">

            <form method="post" th:action="@{/change/details}" th:object="${userDetails}" >

                <div class = "container-fluid" >
                    <div class = "model-container" id = "model">
                        <div class="mb-2 row col-sm-6">
                            <input th:type ="text" readonly hidden class="form-control" id="id" name = "id">
                        </div>
                        <div class="mb-2 row col-sm-6">
                            <label for="name" class="col-sm-6 col-form-label fw-bold" >Name: </label>
                            <input readonly th:type ="text"  class="form-control" id="name"  name = "name">
                            <p th:each="error : ${#fields.errors('${userDetails.name}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row col-sm-6">
                            <label for="lastName" class="col-sm-6 col-form-label fw-bold">Last name: </label>
                            <input th:type="text" class="form-control" id="lastName" name = "lastName">
                            <p th:each="error : ${#fields.errors('${userDetails.lastName}')}"
                               th:text="${error}" class="text-danger">Validation error</p>

                        </div>

                        <div class="mb-2 row  col-sm-6" >
                            <label for="nationality" class="col-sm-6 col-form-label fw-bold">Nationality: </label>
                            <input readonly th:type="text" class="form-control" id="nationality" name = "nationality">
                            <p th:each="error : ${#fields.errors('${userDetails.nationality}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row col-sm-6">
                            <input th:type ="text" readonly hidden class="form-control" id="addressId" name = "addressDTO.id" th:field="${userDetails.addressDTO.id}">
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="street" class="col-sm-6 col-form-label fw-bold">Street name: </label>
                            <input th:type="text" class="form-control" id="street" th:field = "${userDetails.addressDTO.street}" name = "street" >
                            <p th:each="error : ${#fields.errors('${userDetails.addressDTO.street}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="streetNumber" class="col-sm-6 col-form-label fw-bold">Street number: </label>
                            <input th:type="text" class="form-control" id="streetNumber" th:field = "${userDetails.addressDTO.streetNumber}"  name = "streetNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.addressDTO.streetNumber}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="apartmentNumber" class="col-sm-6 col-form-label fw-bold">Apartment number: </label>
                            <input th:type="text" class="form-control" id="apartmentNumber" th:field = "${userDetails.addressDTO.apartmentNumber}"  name = "apartmentNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.addressDTO.apartmentNumber}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="postalCode" class="col-sm-6 col-form-label fw-bold">Postal code: </label>
                            <input th:type="text" class="form-control" id="postalCode" th:field = "${userDetails.addressDTO.postalCode}" name = "postalCode">
                            <p th:each="error : ${#fields.errors('${userDetails.addressDTO.postalCode}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="city" class="col-sm-6 col-form-label fw-bold">City: </label>
                            <input th:type="text" class="form-control" id="city" th:field = "${userDetails.addressDTO.city}"  name = "city">
                            <p th:each="error : ${#fields.errors('${userDetails.addressDTO.city}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="drivingLicenseNumber" class="col-sm-6 col-form-label fw-bold">Driving license number: </label>
                            <input th:type="text" class="form-control" id="drivingLicenseNumber" name = "drivingLicenseNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.drivingLicenseNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="identityCardNumber" class="col-sm-6 col-form-label fw-bold">Identity card number: </label>
                            <input th:type="text" class="form-control" id="identityCardNumber" name = "identityCardNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.identityCardNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row  col-sm-6">
                            <label for="peselNumber" class="col-sm-6 col-form-label fw-bold">Pesel number: </label>
                            <input readonly th:type="text" class="form-control" id="peselNumber" placeholder="NNNNNNNNNNN"  name = "peselNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.peselNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row  col-sm-6">
                            <label for="phoneNumber" class="col-sm-6 col-form-label fw-bold">Phone number: </label>
                            <input th:type="text" class="form-control" id="phoneNumber" name = "phoneNumber">
                            <p th:each="error : ${#fields.errors('${userDetails.phoneNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="birthDate" class="col-sm-6 col-form-label fw-bold">Birth date: </label>
                            <input readonly th:type="text" class="form-control" id="birthDate" name = "birthDate">
                            <p th:each="error : ${#fields.errors('${userDetails.birthDate}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>


                        <p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

                    </div>

                    <div class = "d-flex flex-row text-center">

                        <button type="submit" class="col-sm-2 btn btn-success">Change</button>
                        <div class="col-sm-1"></div>
                        <button type="reset" class="col-sm-2 btn btn-danger">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/getUserDetails.js}"></script>

<script type = "text/javascript">
    const userId = [[${userDetailsId}]];

</script>

</body>
<footer th:replace="footers::footer"></footer>
</html>