<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::head"></head>

<body>
<div th:replace="navigation :: nav"></div>

<div class = "container-sm">
    <div class ="row">
        <div class="col-sm-10 mt-5">

            <form method="post" th:action="@{/registration-user-details}" th:object="${userDetailsDTO}">

                <div class = "container-fluid" >
                    <div class = "model-container">

                        <div th:if="${info == 'empty'}">
                            <div class="alert alert-warning fst-italic" >You have to add your details.</div>
                        </div>

                        <div class="mb-2 row col-sm-6">
                            <label for="name" class="col-sm-6 col-form-label fw-bold" >Name: </label>
                            <input th:type ="text" class="form-control" id="name" placeholder="name" th:field = "${userDetailsDTO.name}" name = "name">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.name}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row col-sm-6">
                            <label for="lastName" class="col-sm-6 col-form-label fw-bold">Last name: </label>
                            <input th:type="text" class="form-control" id="lastName" placeholder="last name" th:field = "${userDetailsDTO.lastName}" name = "lastName">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.lastName}')}"
                               th:text="${error}" class="text-danger">Validation error</p>

                        </div>

                        <div class="mb-2 row  col-sm-6" >
                            <label for="nationality" class="col-sm-6 col-form-label fw-bold">Nationality: </label>
                            <input th:type="text" class="form-control" id="nationality" placeholder="nationality" th:field = "${userDetailsDTO.nationality}" name = "nationality">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.nationality}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="street" class="col-sm-6 col-form-label fw-bold">Street name: </label>
                            <input th:type="text" class="form-control" id="street" placeholder="street" th:field = "${userDetailsDTO.addressDTO.street}" name = "street" >
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.addressDTO.street}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="streetNumber" class="col-sm-6 col-form-label fw-bold">Street number: </label>
                            <input th:type="text" class="form-control" id="streetNumber" placeholder="street number" th:field = "${userDetailsDTO.addressDTO.streetNumber}" name = "streetNumber">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.addressDTO.streetNumber}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="apartmentNumber" class="col-sm-6 col-form-label fw-bold">Apartment number: </label>
                            <input th:type="text" class="form-control" id="apartmentNumber" placeholder="apartment number" th:field = "${userDetailsDTO.addressDTO.apartmentNumber}"  name = "apartmentNumber">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.addressDTO.apartmentNumber}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="postalCode" class="col-sm-6 col-form-label fw-bold">Postal code: </label>
                            <input th:type="text" class="form-control" id="postalCode" placeholder="NN-NNN" th:field = "${userDetailsDTO.addressDTO.postalCode}" name = "postalCode">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.addressDTO.postalCode}')}"
                               th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="city" class="col-sm-6 col-form-label fw-bold">City: </label>
                            <input th:type="text" class="form-control" id="city" placeholder="city" th:field = "${userDetailsDTO.addressDTO.city}" name = "city">
                                         <p th:each="error : ${#fields.errors('${userDetailsDTO.addressDTO.city}')}"
                                            th:text="${error}" class="text-danger fst-italic">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="drivingLicenseNumber" class="col-sm-6 col-form-label fw-bold">Driving license number: </label>
                            <input th:type="text" class="form-control" id="drivingLicenseNumber" placeholder="NNNNN/NN/NNNN" name = "drivingLicenseNumber" th:field = "${userDetailsDTO.drivingLicenseNumber}">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.drivingLicenseNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="identityCardNumber" class="col-sm-6 col-form-label fw-bold">Identity card number: </label>
                            <input th:type="text" class="form-control" id="identityCardNumber" placeholder="LLLNNNNNN" th:field = "${userDetailsDTO.identityCardNumber}" name = "identityCardNumber">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.identityCardNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row  col-sm-6">
                            <label for="peselNumber" class="col-sm-6 col-form-label fw-bold">Pesel number: </label>
                            <input th:type="text" class="form-control" id="peselNumber" placeholder="NNNNNNNNNNN" th:field = "${userDetailsDTO.peselNumber}" name = "peselNumber">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.peselNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>
                        <div class="mb-2 row  col-sm-6">
                            <label for="phoneNumber" class="col-sm-6 col-form-label fw-bold">Phone number: </label>
                            <input th:type="text" class="form-control" id="phoneNumber" placeholder="NNNNNNNNN" th:field = "${userDetailsDTO.phoneNumber}" name = "phoneNumber">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.phoneNumber}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>

                        <div class="mb-2 row  col-sm-6">
                            <label for="birthDate" class="col-sm-6 col-form-label fw-bold">Birth date: </label>
                            <input th:type="text" class="form-control" id="birthDate" placeholder="dd.MM.yyyy" th:field =  "${userDetailsDTO.birthDate}" name = "birthDate">
                            <p th:each="error : ${#fields.errors('${userDetailsDTO.birthDate}')}"
                               th:text="${error}" class="text-danger">Validation error</p>
                        </div>


                        <p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

                    </div>


                    <div class = "d-flex flex-row text-center">

                        <button type="submit" class="col-sm-2 btn btn-success">Register</button>
                        <div class="col-sm-1"></div>
                        <button type="reset" class="col-sm-2 btn btn-danger">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
<footer th:replace="footers::footer"></footer>
</html>