<footer>

    <div style="padding-top: 10px; padding-bottom: 10px">
        <div class = "text-white">Kamil Paprocki &copy; 2021 </div>
        <div class="social socialcontact" ><a href="https://github.com/kamilpaprocki" target="_blank"><i class="icon-github-circled"></i></a></div>
        <div class="social socialcontact" ><a href="https://www.linkedin.com/in/kamil-paprocki-8030a9141/" target="_blank"><i class="icon-linkedin-squared"></i></a></div>
        <div class="text-white socialcontact" ><i class="icon-mail-alt"></i>kamil.paprocki1@gmail.com</div>
    <div style="display: none"></div>
    </div>

</footer>
