<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::head"></head>

<body>
<div th:replace="navigation :: nav"></div>

<div class = "container-sm ">
    <div class ="row">
        <div class="col-sm-10 mt-5">

            <table class="table table-striped table-hover" xmlns:th="https://www.thymeleaf.org">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Rent date</th>
                    <th scope="col">Planned return date</th>
                    <th scope="col">Rental days</th>
                    <th scope="col">Rental cost</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "r : ${rents}">
                    <td th:text = "${r.getCar().getBrand()}"></td>
                    <td th:text = "${r.getCar().getModel()}"></td>
                    <td th:text = "${r.getRentDate()}"></td>
                    <td th:text = "${r.getPlannedReturnDate()}"></td>
                    <td th:text = "${r.getRentalDays()}"></td>
                    <td th:text = "${r.getRentalCost()}"></td>
                    <td >
                        <form method="get" th:action="@{/finish/rent/update}" >
                            <input type="hidden" name = "rentId" th:value = "${r.getId()}"/>
                            <button type = "submit" class = "btn btn-outline-info btn-sm fst-italic">FINISH</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
